In [1]:
import numpy as np
import pandas as pd
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import unidecode
from nltk import *
import re
from sklearn.externals import joblib
from difflib import get_close_matches

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
df = pd.read_csv("top10s.csv", encoding = "ISO-8859-1")

In [3]:
df.tail()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
598,599,Find U Again (feat. Camila Cabello),Mark Ronson,dance pop,2019,104,66,61,-7,20,16,176,1,3,75
599,600,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,2019,95,79,75,-6,7,61,206,21,12,75
600,601,"No Brainer (feat. Justin Bieber, Chance the Ra...",DJ Khaled,dance pop,2019,136,76,53,-5,9,65,260,7,34,70
601,602,Nothing Breaks Like a Heart (feat. Miley Cyrus),Mark Ronson,dance pop,2019,114,79,60,-6,42,24,217,1,7,69
602,603,Kills You Slowly,The Chainsmokers,electropop,2019,150,44,70,-9,13,23,213,6,6,67

In [4]:
df.describe()

,Unnamed: 0,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
count,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000
mean,302.000000,2014.592040,118.545605,70.504146,64.379768,-5.578773,17.774461,52.225539,224.674959,14.326700,8.358209,66.520730
std,174.215384,2.607057,24.795358,16.310664,13.378718,2.798020,13.102543,22.513020,34.130059,20.766165,7.483162,14.517746
min,1.000000,2010.000000,0.000000,0.000000,0.000000,-60.000000,0.000000,0.000000,134.000000,0.000000,0.000000,0.000000
25%,151.500000,2013.000000,100.000000,61.000000,57.000000,-6.000000,9.000000,35.000000,202.000000,2.000000,4.000000,60.000000
50%,302.000000,2015.000000,120.000000,74.000000,66.000000,-5.000000,12.000000,52.000000,221.000000,6.000000,5.000000,69.000000
75%,452.500000,2017.000000,129.000000,82.000000,73.000000,-4.000000,24.000000,69.000000,239.500000,17.000000,9.000000,76.000000
max,603.000000,2019.000000,206.000000,98.000000,97.000000,-2.000000,74.000000,98.000000,424.000000,99.000000,48.000000,99.000000

In [5]:
df.isnull().sum()

Unnamed: 0    0
title         0
artist        0
top genre     0
year          0
bpm           0
nrgy          0
dnce          0
dB            0
live          0
val           0
dur           0
acous         0
spch          0
pop           0
dtype: int64

In [6]:
df = df[df['pop']>60]

In [7]:
df.rename(columns = {'top genre':'genre','pop':'popularity','nrgy':'energy','dnce':'dance','acous':'acoustic','spch':'speech','dur':'duration'}, inplace=True)

In [9]:
df.head()

,Unnamed: 0,title,artist,genre,year,bpm,energy,dance,dB,live,val,duration,acoustic,speech,popularity
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [10]:
df['genre'].unique()

array(['neo mellow', 'detroit hip hop', 'dance pop', 'pop',
       'canadian pop', 'hip pop', 'barbadian pop', 'atl hip hop',
       'australian pop', 'indie pop', 'british soul', 'chicago rap',
       'permanent wave', 'boy band', 'baroque pop', 'big room',
       'celtic rock', 'electro', 'complextro', 'art pop',
       'canadian hip hop', 'acoustic pop', 'candy pop', 'folk-pop',
       'metropopolis', 'house', 'australian hip hop', 'electropop',
       'colombian pop', 'canadian contemporary r&b',
       'irish singer-songwriter', 'tropical house', 'australian dance',
       'belgian edm', 'danish pop', 'hip hop', 'electronic trap', 'edm',
       'latin', 'electro house', 'brostep', 'contemporary country',
       'downtempo', 'escape room', 'alternative r&b'], dtype=object)

In [11]:
def remove_brackets(s):
    s = re.sub(r'\(.*?\)\ *', '', s)
    s = s.strip()
    return s
df['title'] = df['title'].apply(remove_brackets)

In [12]:
def remove_hyphens(s):
    s = re.sub(r'\s*-.*', '', s)
    s = s.strip()
    return s
df['title'] = df['title'].apply(remove_hyphens)

In [13]:
df['artist'] = df['artist'].apply(lambda x: x.lower())
df['title'] = df['title'].apply(lambda x:x.lower())

In [14]:
df['artist'] = df['artist'].apply(lambda x:x.replace(" ",""))

In [15]:
df['genre'] = df['genre'].apply(lambda x:x.lower())

In [16]:
def remove_accents(s):
    s = unidecode.unidecode(s)
    return s
df['title'] = df['title'].apply(remove_accents)

In [17]:
df['soup'] = df[['artist','genre']].apply(lambda x:' '.join(x), axis = 1)

In [18]:
df.drop_duplicates(subset = 'title',inplace=True)

In [19]:
df = df[['Unnamed: 0','title','soup']]

In [20]:
df.tail()

     Unnamed: 0                        title                        soup
598         599                 find u again        markronson dance pop
599         600                     cross me               edsheeran pop
600         601                   no brainer          djkhaled dance pop
601         602  nothing breaks like a heart        markronson dance pop
602         603             kills you slowly  thechainsmokers electropop

In [21]:
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['soup'])
joblib.dump(count_matrix,'count_model.pkl')

['count_model.pkl']

In [22]:
cos = cosine_similarity(count_matrix,count_matrix)

In [23]:
df = df.reset_index()
indices = pd.Series(df.index, index=df['title'])

In [24]:
def get_recommendations(title, cos=cos):
    idx = indices[title]
    cos_scores = list(enumerate(cos[idx]))
    cos_scores = sorted(cos_scores, key=lambda x: x[1], reverse=True)
    cos_scores = cos_scores[1:11]  
    song_indices = [i[0] for i in cos_scores]
    return df['title'].iloc[song_indices]

In [25]:
get_recommendations('find u again')

424                   find u again
427    nothing breaks like a heart
134                     #thatpower
2                          tik tok
3                      bad romance
6                         dynamite
7                          secrets
10            club can't handle me
12                  cooler than me
13                       telephone
Name: title, dtype: object

In [ ]:
df.to_csv('songs.csv',index = False, header=True)