In [1]:
import pandas as pd
import numpy as np
import json
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk import *
from sklearn.externals import joblib
from difflib import get_close_matches

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
df = pd.read_csv("tmdb_5000_movies.csv")
df1 = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
df.shape

(4803, 20)

In [4]:
df1 = df1.rename(columns = {"movie_id":"id"})
df1.head()

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
result = pd.merge(df,df1[['id','cast','crew']],on = 'id')

In [6]:
result.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
def json_to_list(col):
    for index, row in result.iterrows():
        row_list= []
        x = json.loads(row[col])
        for genre in x:
            row_list.append(genre['name'])
        result.at[index, col] = row_list

In [8]:
cols =['genres', 'keywords', 'production_companies', 'production_countries','spoken_languages','cast']
for col in cols:
    json_to_list(col)

In [9]:
def reduce_list(col):
    for index, row in result.iterrows():
        li = row[col]
        li = li[:5]
        result.at[index, col] = li

In [10]:
cols = ['genres','cast','keywords']
for col in cols:
    reduce_list(col)

In [11]:
result.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,19995,"[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[Ingenious Film Partners, Twentieth Century Fo...",...,2787965087,162.0,"[English, Español]",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",...,961000000,169.0,[English],Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,"[spy, based on novel, secret agent, sequel, mi6]",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[Columbia Pictures, Danjaq, B24]",...,880674609,148.0,"[Français, English, Español, Italiano, Deutsch]",Released,A Plan No One Escapes,Spectre,6.3,4466,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[Action, Crime, Drama, Thriller]",http://www.thedarkknightrises.com/,49026,"[dc comics, crime fighter, terrorist, secret i...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",...,1084939099,165.0,[English],Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[Action, Adventure, Science Fiction]",http://movies.disney.com/john-carter,49529,"[based on novel, mars, medallion, space travel...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,[Walt Disney Pictures],...,284139100,132.0,[English],Released,"Lost in our world, found in another.",John Carter,6.1,2124,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
result.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                       0
crew                       0
dtype: int64

In [13]:
result = result[result['vote_average']>6]

In [14]:
len(result.loc[(result['keywords'].str.len() == 0),:])

143

In [15]:
len(result.loc[(result['genres'].str.len() == 0),:])

3

In [16]:
for index,row in result.iterrows():
    crew_list = json.loads(row['crew'])
    for x in crew_list:
        if x['job'] == 'Director':
            result.at[index,'crew'] = x['name']

In [17]:
result.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,19995,"[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[Ingenious Film Partners, Twentieth Century Fo...",...,2787965087,162.0,"[English, Español]",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",James Cameron
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",...,961000000,169.0,[English],Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",Gore Verbinski
2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,"[spy, based on novel, secret agent, sequel, mi6]",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[Columbia Pictures, Danjaq, B24]",...,880674609,148.0,"[Français, English, Español, Italiano, Deutsch]",Released,A Plan No One Escapes,Spectre,6.3,4466,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",Sam Mendes
3,250000000,"[Action, Crime, Drama, Thriller]",http://www.thedarkknightrises.com/,49026,"[dc comics, crime fighter, terrorist, secret i...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[Legendary Pictures, Warner Bros., DC Entertai...",...,1084939099,165.0,[English],Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"[Christian Bale, Michael Caine, Gary Oldman, A...",Christopher Nolan
4,260000000,"[Action, Adventure, Science Fiction]",http://movies.disney.com/john-carter,49529,"[based on novel, mars, medallion, space travel...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,[Walt Disney Pictures],...,284139100,132.0,[English],Released,"Lost in our world, found in another.",John Carter,6.1,2124,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",Andrew Stanton

In [18]:
result = result[['genres','keywords','overview','popularity','revenue','title','vote_average','vote_count','cast','crew']]

In [19]:
result.rename(columns = {'crew':'director'},inplace = True)

In [20]:
result.dropna()

,genres,keywords,overview,popularity,revenue,title,vote_average,vote_count,cast,director
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",150.437577,2787965087,Avatar,7.2,11800,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",James Cameron
1,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...",139.082615,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",Gore Verbinski
2,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi6]",A cryptic message from Bond’s past sends him o...,107.376788,880674609,Spectre,6.3,4466,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",Sam Mendes
3,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,112.312950,1084939099,The Dark Knight Rises,7.6,9106,"[Christian Bale, Michael Caine, Gary Oldman, A...",Christopher Nolan
4,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...",43.926995,284139100,John Carter,6.1,2124,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",Andrew Stanton
6,"[Animation, Family]","[hostage, magic, horse, fairy tale, musical]",When the kingdom's most wanted-and most charmi...,48.681969,591794936,Tangled,7.4,3330,"[Zachary Levi, Mandy Moore, Donna Murphy, Ron ...",Nathan Greno
7,"[Action, Adventure, Science Fiction]","[marvel comic, sequel, superhero, based on com...",When Tony Stark tries to jumpstart a dormant p...,134.279229,1405403694,Avengers: Age of Ultron,7.3,6767,"[Robert Downey Jr., Chris Hemsworth, Mark Ruff...",Joss Whedon
8,"[Adventure, Fantasy, Family]","[witch, magic, broom, school of witchcraft, wi...","As Harry begins his sixth year at Hogwarts, he...",98.885637,933959197,Harry Potter and the Half-Blood Prince,7.4,5293,"[Daniel Radcliffe, Rupert Grint, Emma Watson, ...",David Yates
11,"[Adventure, Action, Thriller, Crime]","[killing, undercover, secret agent, british se...",Quantum of Solace continues the adventures of ...,107.928811,586090727,Quantum of Solace,6.1,2965,"[Daniel Craig, Olga Kurylenko, Mathieu Amalric...",Marc Forster
12,"[Adventure, Fantasy, Action]","[witch, fortune teller, bondage, exotic island...",Captain Jack Sparrow works his way out of a bl...,145.847379,1065659812,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",Gore Verbinski
14,"[Action, Adventure, Fantasy, Science Fiction]","[saving the world, dc comics, superhero, based...",A young boy learns that he has extraordinary p...,99.398009,662845518,Man of Steel,6.5,6359,"[Henry Cavill, Amy Adams, Michael Shannon, Kev...",Zack Snyder
15,"[Adventure, Family, Fantasy]","[based on novel, fictional place, brother sist...",One year after their incredible adventures in ...,53.978602,419651413,The Chronicles of Narnia: Prince Caspian,6.3,1630,"[Ben Barnes, William Moseley, Anna Popplewell,...",Andrew Adamson
16,"[Science Fiction, Action, Adventure]","[new york, shield, marvel comic, superhero, ba...",When an unexpected enemy emerges and threatens...,144.448633,1519557910,The Avengers,7.4,11776,"[Robert Downey Jr., Chris Evans, Mark Ruffalo,...",Joss Whedon
17,"[Adventure, Action, Fantasy]","[sea, captain, mutiny, sword, prime minister]",Captain Jack Sparrow crosses paths with a woma...,135.413856,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,"[Johnny Depp, Penélope Cruz, Ian McShane, Kevi...",Rob Marshall
18,"[Action, Comedy, Science Fiction]","[time travel, time machine, alien, fictional g...",Agents J (Will Smith) and K (Tommy Lee Jones) ...,52.035179,624026776,Men in Black 3,6.2,4160,"[Will Smith, Tommy Lee Jones, Josh Brolin, Mic...",Barry Sonnenfeld
19,"[Action, Adventure, Fantasy]","[corruption, elves, dwarves, orcs, middle-eart...",Immediately after the events of The Desolation...,120.965743,956019788,The Hobbit: The Battle of the Five Armies,7.1,4760,"[Martin Freeman, Ian McKellen, Richard Armitag...",Peter Jackson
20,"[Action, Adventure, Fantasy]","[loss of father, vigilante, serum, marvel comi...",Peter Parker is an outcast high schooler aband...,89.866276,752215857,The Amazing Spider-Man,6.5,6586,"[Andrew Garfield, Emma Stone, Rhys Ifans, Deni...",Marc Webb
21,"[Action, Adventure]","[robin hood, archer, knight, sherwood forest, ...",When soldier Robin happens upon the dying Robe...,37.668301,310669540,Robin Hood,6.2,1398,"[Russell Crowe, Cate Blanchett, Max von Sydow,...",Ridley Scott
22,"[Adventure, Fantasy]","[elves, dwarves, orcs, hobbit, dragon]","The Dwarves, Bilbo and Gandalf have successful...",94.370564,958400000,The Hobbit: The Desolation of Smaug,7.6,4524,"[Martin Freeman, Ian McKellen, Richard Armitag...",Peter Jackson
24,"[Adventure, Drama, Action]","[film business, screenplay, show business, fil...","In 1933 New York, an overly ambitious movie pr...",61.226010,550000000,King Kong,6.6,2337,"[Naomi Watts, Jack Black, Adrien Brody, Thomas...",Peter Jackson
25,"[Drama, Romance, Thriller]","[shipwreck, iceberg, ship, panic, titanic]","84 years later, a 101-year-old woman named Ros...",100.025899,1845034188,Titanic,7.5,7562,"[Kate Winslet, Leonardo DiCaprio, Frances Fish...",James Cameron
26,"[Adventure, Action, Science Fiction]","[civil war, war, marvel comic, sequel, superhero]","Following the events of Age of Ultron, the col...",198.372395,1153304495,Captain America: Civil War,7.1,7241,"[Chris Evans, Robert Downey Jr., Scarlett Joha...",Joe Russo
28,"[Action, Adventure, Science Fiction, Thriller]","[monster, dna, tyrannosaurus rex, velociraptor...",Twenty-two years after the events of Jurassic ...,418.708552,1513528810,Jurassic World,6.5,8662,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Colin Trevorrow
29,"[Action, Adventure, Thriller]","[spy, secret agent, sociopath, killer, art gal...",When Bond's latest assignment goes gravely wro...,93.004993,1108561013,Skyfall,6.9,7604,"[Daniel Craig, Judi Dench, Javier Bardem, Ralp...",Sam Mendes
30,"[Action, Adventure, Fantasy]","[dual identity, love of one's life, pizza boy,...",Peter Parker is going through a major identity...,35.149586,783766341,Spider-Man 2,6.7,4321,"[Tobey Maguire, Kirsten Dunst, James Franco, A...",Sam Raimi
31,"[Action, Adventure, Science Fiction]","[terrorist, war on terror, tennessee, malibu, ...",When Tony Stark's world is torn apart by a for...,77.682080,1215439994,Iron Man 3,6.8,8806,"[Robert Downey Jr., Gwyneth Paltrow, Don Chead...",Shane Black
32,"[Family, Fantasy, Adventure]","[based on novel, fictional place, queen, fanta...","Alice, an unpretentious and individual 19-year...",78.530105,1025491110,Alice in Wonderland,6.4,4645,"[Mia Wasikowska, Johnny Depp, Anne Hathaway, H...",Tim Burton
33,"[Adventure, Action, Science Fiction, Thriller]","[mutant, marvel comic, based on comic book, su...","When a cure is found to treat mutations, lines...",3.857526,459359555,X-Men: The Last Stand,6.3,3525,"[Hugh Jackman, Halle Berry, Ian McKellen, Patr...",Brett Ratner
34,"[Animation, Family]","[monster, dormitory, games, animation, best fr...",A look at the relationship between Mike and Su...,89.186492,743559607,Monsters University,7.0,3528,"[Billy Crystal, John Goodman, Steve Buscemi, H...",Dan Scanlon
38,"[Action, Adventure, Fantasy]","[obsession, marvel comic, sequel, based on com...","For Peter Parker, life is busy. Between taking...",89.270217,705717432,The Amazing Spider-Man 2,6.5,4179,"[Andrew Garfield, Emma Stone, Jamie Foxx, Dane...",Marc Webb
...,...,...,...,...,...,...,...,...,...,...
4738,"[Mystery, Drama, Thriller]","[hacker, mathematician, helix, headache, chaos...",The debut film from Darren Aronofsky in which ...,27.788067,3221152,Pi,7.1,586,"[Sean Gullette, Mark Margolis, Ben Shenkman, S...",Darren Aronofsky
4742,"[Documentary, Comedy, Drama]","[experiment, health, junk food, food industry,...",Morgan Spurlock subjects himself to a diet bas...,10.400603,28575078,Super Size Me,6.6,506,"[Morgan Spurlock, Daryl Isaacs, Lisa Ganjhu, S...",Morgan Spurlock
4746,[Drama],"[gay, lgbt]",In the small Central California town where the...,0.176377,0,Tiger Orange,6.4,4,"[Mark Strano, Frankie Valenti, Johnny Hazzard,...",Wade Gasque
4747,"[Drama, Comedy]","[marriage proposal, relationship, filmmaking, ...",Two New York film editors balance their person...,0.620554,0,Supporting Characters,6.7,10,"[Alex Karpovsky, Tarik Lowe, Arielle Kebbel, M...",Daniel Schechter
4749,"[Comedy, Drama, Romance]","[love, independent film, best friend, true lov...",Deals with the lives of the three Irish Cathol...,1.578903,0,The Brothers McMullen,6.3,23,"[Shari Albert, Maxine Bahns, Catharine Bolz, C...",Edward Burns
4755,[Documentary],[],An associative collection of visual impression...,0.293587,0,Counting,8.3,3,[],Jem Cohen
4756,"[Horror, Thriller, Fantasy]","[obsession, nightmare, notebook, cult, h.p. lo...",A dying professor leaves his great-nephew a co...,1.777148,0,The Call of Cthulhu,6.9,41,"[Matt Foyer, John Bolen, Ralph Lucas, Chad Fif...",Andrew Leman
4760,[Drama],[],"Two men, at opposite ends of the social spectr...",0.763680,0,This Is Martin Bonner,6.6,4,"[Paul Eenhoorn, Richmond Arquette, Sam Buchana...",Chad Hartigan
4761,[Comedy],[],Mike and Matt own nothing and share everything...,0.970351,0,A True Story,6.8,2,"[Katrina Bowden, Jon Gries, Malcolm Goodwin, C...",Malcolm Goodwin
4762,[Drama],[independent film],A delicately told and deceptively simple story...,2.058834,0,George Washington,6.4,36,"[Candace Evanofski, Donald Holden, Damian Jewa...",David Gordon Green
4763,"[Comedy, Romance]",[],Two brothers share a house in LA's Fairfax dis...,0.007340,0,Smiling Fish & Goat On Fire,7.0,1,"[Derick Martini, Amy Hathaway, Steven Martini]",Kevin Jordan
4766,"[Documentary, Music]","[1970s, music]",Martin Scorsese's rockumentary intertwines foo...,3.277287,321952,The Last Waltz,7.9,64,"[Robbie Robertson, Rick Danko, Levon Helm, Ric...",Martin Scorsese
4768,"[Drama, Romance]",[independent film],"On a summer break from college, Ivy, a young e...",0.611081,0,The Exploding Girl,6.4,15,"[Zoe Kazan, Mark Rendall, Maryann Urbano, Hunt...",Bradley Rust Gray
4770,"[Drama, Comedy]","[musician, romance, independent film, mumblecore]",Alan is a musician who leaves a busted-up band...,0.123068,0,Mutual Appreciation,6.1,8,"[Justin Rice, Rachel Clift, Andrew Bujalski]",Andrew Bujalski
4772,"[Drama, Action, Comedy]","[murder, dark comedy, crime family]",After serving jail time for a mysterious crime...,1.330379,10000,Down Terrace,6.3,26,"[Robert Hill, Robin Hill, Julia Deakin, David ...",Ben Wheatley
4773,[Comedy],"[salesclerk, loser, aftercreditsstinger]",Convenience and video store clerks Dante and R...,19.748658,3151130,Clerks,7.4,755,"[Brian O'Halloran, Jeff Anderson, Jason Mewes,...",Kevin Smith
4775,"[Drama, Comedy]",[mumblecore],"Unsure of what to do next, 23-year-old Marnie ...",0.362633,76901,Funny Ha Ha,6.3,8,"[Kate Dollenmayer, Mark Herlehy, Christian Rud...",Andrew Bujalski
4776,"[Comedy, Drama]","[office, love, independent film, secretary, mi...",Two business executives--one an avowed misogyn...,2.634007,0,In the Company of Men,6.8,44,"[Aaron Eckhart, Stacy Edwards, Matt Malloy, Mi...",Neil LaBute
4779,[Comedy],"[moon, philosophy, burglar, texas, dream]","Presents a day in the life in Austin, Texas am...",3.320622,0,Slacker,6.4,77,"[Richard Linklater, Mark James]",Richard Linklater
4782,"[Drama, Family]","[christianity, father son relationship, georgi...","Jay Austin wants to sell you a used car, but w...",1.048524,0,Flywheel,6.8,19,[Alex Kendrick],Alex Kendrick
4784,"[Drama, Comedy, Romance]",[mumblecore],Josh's life is pretty much in the toilet. He's...,1.243955,0,The Puffy Chair,6.2,15,"[Mark Duplass, Katie Aselton, Rhett Wilkins]",Mark Duplass
4788,"[Horror, Comedy, Crime]","[gay, trailer park, pop culture, drug dealer, ...",Notorious Baltimore criminal and underground f...,4.553644,6000000,Pink Flamingos,6.2,110,"[Divine, David Lochary, Mary Vivian Pearce, Mi...",John Waters
4789,[Drama],"[addiction, recovering drug addict, estranged ...","After losing her husband to a heroin overdose,...",1.464566,0,Clean,6.7,17,"[Maggie Cheung, Nick Nolte, Béatrice Dalle, Je...",Olivier Assayas
4790,"[Drama, Foreign]",[],Various women struggle to function in the oppr...,1.193779,0,The Circle,6.6,17,"[Nargess Mamizadeh, Maryiam Palvin Almani, Moj...",Jafar Panahi
4792,"[Crime, Horror, Mystery, Thriller]","[japan, prostitute, hotel, based on novel, hal...",A wave of gruesome murders is sweeping Tokyo. ...,0.212443,99000,Cure,7.4,63,"[Koji Yakusho, Masato Hagiwara, Tsuyoshi Ujiki...",Kiyoshi Kurosawa
4796,"[Science Fiction, Drama, Thriller]","[distrust, garage, identity crisis, time trave...",Friends/fledgling entrepreneurs invent a devic...,23.307949,424760,Primer,6.9,658,"[Shane Carruth, David Sullivan, Casey Gooden, ...",Shane Carruth
4797,"[Foreign, Thriller]",[],"Adam, a security guard, travels from Californi...",0.022173,0,Cavite,7.5,2,[],Ian Gamazon
4798,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...",El Mariachi just wants to play his guitar and ...,14.269792,2040920,El Mariachi,6.6,238,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",Robert Rodriguez
4800,"[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,0,"Signed, Sealed, Delivered",7.0,6,"[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",Scott Smith
4802,[Documentary],"[obsession, camcorder, crush, dream girl]",Ever since the second grade when he first saw ...,1.929883,0,My Date with Drew,6.3,16,"[Drew Barrymore, Brian Herzlinger, Corey Feldm...",Brett Winn

In [21]:
cols = ['genres','keywords','cast']
for col in cols:
    result = result[result[col].map(lambda d: len(d)) > 0]

In [22]:
result.describe()
result.isnull().sum()

genres          0
keywords        0
overview        1
popularity      0
revenue         0
title           0
vote_average    0
vote_count      0
cast            0
director        0
dtype: int64

In [23]:
from nltk.corpus import stopwords

def tokeniser(df, col):
    sw = list(set(stopwords.words('english'))) + ['.', ',', '?']
    li = []
    for sentt in df[col]:
        words = word_tokenize(str(sentt).lower())
        words = [w for w in words if w not in sw]
        final = ''
        for x in words:
            final = final + " " + x
        li.append(final)
    df[col] = li

tokeniser(result,'overview')

In [24]:
result['title'] = result['title'].apply(lambda x:x.lower())

In [25]:
result = result.drop('overview',axis=1)

In [26]:
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]

In [27]:
features = ['cast', 'keywords', 'genres']
for feature in features:
    result[feature] = result[feature].apply(clean_data)

In [28]:
result.head()

,genres,keywords,popularity,revenue,title,vote_average,vote_count,cast,director
0,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...",150.437577,2787965087,avatar,7.2,11800,"[samworthington, zoesaldana, sigourneyweaver, ...",James Cameron
1,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...",139.082615,961000000,pirates of the caribbean: at world's end,6.9,4500,"[johnnydepp, orlandobloom, keiraknightley, ste...",Gore Verbinski
2,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6]",107.376788,880674609,spectre,6.3,4466,"[danielcraig, christophwaltz, léaseydoux, ralp...",Sam Mendes
3,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...",112.312950,1084939099,the dark knight rises,7.6,9106,"[christianbale, michaelcaine, garyoldman, anne...",Christopher Nolan
4,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...",43.926995,284139100,john carter,6.1,2124,"[taylorkitsch, lynncollins, samanthamorton, wi...",Andrew Stanton

In [29]:
result['director'] = result['director'].str.replace(' ','')
result['director'] = result['director'].str.lower()
result.head()

,genres,keywords,popularity,revenue,title,vote_average,vote_count,cast,director
0,"[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...",150.437577,2787965087,avatar,7.2,11800,"[samworthington, zoesaldana, sigourneyweaver, ...",jamescameron
1,"[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...",139.082615,961000000,pirates of the caribbean: at world's end,6.9,4500,"[johnnydepp, orlandobloom, keiraknightley, ste...",goreverbinski
2,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6]",107.376788,880674609,spectre,6.3,4466,"[danielcraig, christophwaltz, léaseydoux, ralp...",sammendes
3,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...",112.312950,1084939099,the dark knight rises,7.6,9106,"[christianbale, michaelcaine, garyoldman, anne...",christophernolan
4,"[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...",43.926995,284139100,john carter,6.1,2124,"[taylorkitsch, lynncollins, samanthamorton, wi...",andrewstanton

In [30]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + ' '.join(x['genres'])
result['soup'] = result.apply(create_soup, axis=1)
result['soup'] = result[['soup','director']].apply(lambda x:' '.join(x), axis=1)

In [31]:
result['soup'][3]

'dccomics crimefighter terrorist secretidentity burglar christianbale michaelcaine garyoldman annehathaway tomhardy action crime drama thriller christophernolan'

In [32]:
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(result['soup'])
joblib.dump(count_matrix,"count_model_movie.pkl")

['count_model_movie.pkl']

In [33]:
cos = cosine_similarity(count_matrix,count_matrix)

In [34]:
result = result.reset_index()
indices = pd.Series(result.index, index=result['title'])

In [35]:
def get_recommendations(title, cos=cos):
    idx = indices[title]
    cos_scores = list(enumerate(cos[idx]))
    cos_scores = sorted(cos_scores, key=lambda x: x[1], reverse=True)
    cos_scores = cos_scores[1:11]  
    movie_indices = [i[0] for i in cos_scores]
    return result['title'].iloc[movie_indices]

In [36]:
get_recommendations('avatar')

209                       the fifth element
42                         star trek beyond
35                  star trek into darkness
64                  guardians of the galaxy
1781        star wars: clone wars: volume 1
10                             man of steel
34               x-men: days of future past
58      captain america: the winter soldier
156                           the wolverine
362                               the abyss
Name: title, dtype: object

In [37]:
def close_matches(patterns,word):
    print(get_close_matches(word,patterns,n=5,cutoff=0.5))
close_matches(result['title'],'the')

['three', 'ted', 'her', 'the vow', 'the fog']

In [38]:
result.to_csv('tmdb.csv',index = False, header = True)